# Dependency folders
node_modules/
n8n-custom/custom/dist/

# Package managers
*.lock
package-lock.json
pnpm-lock.yaml

# Logs
*.log
n8n-data/n8nEventLog*.log
n8n-data/crash.journal

# Databases and runtime data
n8n-data/database.sqlite
n8n-data/binaryData/
n8n-data/custom/
n8n-data/git/
n8n-data/ssh/
n8n-data/config/

# Editor/OS files
.DS_Store
*.rtf

# Docker
**/docker-compose.override.yml
**/.env